<% include partials/header %>

<div class="container-fluid text-left">
	<p>Welcome to the Library, dear user</p>
	<div class="row">
		<div class="col-xs-3">
			<img src="/img/perrito.jpg" class="img-responsive">
		</div>
		<div class="col-xs-3">
			<img src="/img/perrito.jpg" class="img-responsive">
		</div>
		<div class="col-xs-3">
			<img src="/img/perrito.jpg" class="img-responsive">
		</div>
		<div class="col-xs-3">
			<img src="/img/perrito.jpg" class="img-responsive">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<img src="/img/perrito.jpg" class="img-responsive">
		</div>
		<div class="col-xs-4">
			<img src="/img/perrito.jpg" class="img-responsive">
		</div>
		<div class="col-xs-4">
			<img src="/img/perrito.jpg" class="img-responsive">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<img src="/img/perrito.jpg" class="img-responsive">
		</div>
		<div class="col-xs-6">
			<img src="/img/perrito.jpg" class="img-responsive">
		</div>
	</div>
</div>

<% include partials/footer %>

<script type="text/javascript">
	$(document).ready(function() {
		console.log('jquery works!');
	});
</script>